/* reset */
html, body, div, span, object, iframe,
h1, h3, h4, h5, h6, p, blockquote,
abbr, address, cite, 
del, dfn, em, img, ins, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1;
  background-color: #f5f5f5;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}


/* styling */
.head-fix {
  background-color: #101010;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.positioning, .another-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.positioning {
  padding: 10px 18px;
}

.another-link a {
  color: #E9EDED;
  padding-left: 20px;
}

.hero-section {
  padding-top: 90px;
}

.container {
  position: relative;
  color: #E9EDED;
}

.text-hero-section {
  position: absolute;
  top: 170px;
  left: 70px;
  color: #E9EDED;
}

.text-hero-section h1 {
  font-size: 3rem;
}

.hero-section img {
  width: 100%;
  height: 460px;
  object-fit: none;
  object-position: left;
}

.card {
  margin: 6rem 8rem;
  padding: 30px 30px 0 30px;
  background-color: #151515;
  color: #E9EDED;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 300px;
}

table {
  color: #E9EDED;
  text-align: left;
}

.head-table {
  text-align: center;
}

.class-pertemuan {
  width: 25px;
}

footer {
  background-color: #101010;
  color: #E9EDED;
  padding: 50px 20px;
  text-align: center;
}